/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;1,200&family=Source+Sans+Pro&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    background-color: #DAE0E6;
    height: 100%;
    width: 100%
}

body {
    padding-top: 48px;
    background-color: #DAE0E6;
}
