.post-container {
    /* cursor: pointer; */
    margin-bottom: 15px;
    overflow: hidden;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 4px;
    padding-left: 40px;
    /* cursor: pointer; */
    transition: color .5s,fill .5s,box-shadow .5s;
    max-width: 750px;
    background-color: #f8f9fa;
    margin: auto;
    margin-top: 15px;
}

.post-container:hover {
    border-color: #222222;
}

.qYj {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 48px);
}

._3oz {
    z-index: 3;
}
.empty {
    max-width: 100%;
}
._10V {
    width: 640px;
}

.panels-container {
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.vote-container {
    width: 40px;
    border-left: 4px solid transparent;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 8px 4px 8px 0;
    position: absolute;
    top: 0;
    background-color: #f8f9fa;
}

.vote-button {
    height: 24px;
    width: 24px;
}

.vote-button button {
    background: transparent;
    border: none;
    color: inherit;
    /* cursor: pointer; */
    padding: initial;
}

.post-span {
    border-radius: 2px;
    /* cursor: pointer; */
    color: #878a8c;
    display: inline-block;
    overflow: hidden;
    height: 24px;
    width: 24px;
    font-size: 16px;
    line-height: 24px;
}

.fa-square-arrow-up {
    line-height: 24px;
    position: relative;
    font-size: 20px;
    font-weight: 400;
    height: 20px;
    vertical-align: middle;
    width: 20px;
    /* cursor: pointer; */
    color: #878a8c;
}

.fa-square-arrow-down {
    line-height: 24px;
    position: relative;
    font-size: 20px;
    font-weight: 400;
    height: 20px;
    vertical-align: middle;
    width: 20px;
    /* cursor: pointer; */
    color: #878a8c;
}

.num-vote {
    color: rgb(26, 26, 27);
    margin: 4px 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    pointer-events: none;
    word-break: normal;
}

.content {
    background:rgb(255, 255, 255);
    position: relative;
    padding-top: 8px;
    cursor: pointer;
}

.user-content {
    font-size: 12px;
    font-family: Fira Sans, sans-serif;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    flex-flow: row nonwrap;
    align-items: start;
    margin: 0 8px 8px;
    position: relative;
}

.user-image {
    flex: 0 0 auto
}

.user-image-1 {
    font-size: 12px;
    font-weight: 700;
    color:rgb(26, 26, 27);
    display: inline;
    line-height: 20px;
    text-decoration: none;
    vertical-align: baseline;
}

.posted-by {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    overflow: hidden;
}

.posted-bar {
    display: inline;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    align-items: center;
    color: inherit;
}

.posted-span {
    color: rgb(120, 124, 126);
    flex: 0 0 auto;
    margin-right: 3px;
    text-decoration: none;
    padding-left: 15px;
}

.username {
    display: inline-block;
    flex: 0 0 auto;
}

.user-link {
    color: rgb(120, 124, 126);
    margin-right: 3px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.posted-time {
    color: rgb(120, 124, 126);
    margin-right: 3px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.title-container {
    margin: 0 8px;
}

.title-line {
    display: inline;
    position: relative;
    text-decoration: none;
    word-break: break-word;
}

.post-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    display: inline;
    padding-right: 5px;
    word-wrap: break-word;
}

.title {
    color: #9b9b9b;
    display: inline;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-decoration: none;
    padding-left: 7px;
}

.image-container {
    margin-top: 8px;
}

.image-container-2 {
    position: relative;
    max-height: 512px;
    width: 100%;
}

.image-container-3 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.image {
    width: 710px;
}

.edit-post {
    margin-top: 30px;
}

.comment-container {
    margin-bottom: 30px;
}

/* SIDE PANEL */

._3Kd {
    margin-left: 24px;
    margin-top: 0px;
    flex: 0 0 312px;
    width: 312px;
}

._1FU {
    width: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
}

._1G4 {
    background-color: white;
    color: #1a1a1b;
    fill: #1a1a1b;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: visible;
    word-wrap: break-word;
    margin-top: 15px;
}

._3RP {
    padding: 0;
}

._2-a {
    background-color: #0079d3;
    background-position: 50%;
    background-repeat: no-repeat;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 80px;
    position: relative;
}

._3t {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    bottom: 8px;
    color: #fff;
    left: 16px;
    position: absolute;
    display: block;
}

ol {
    list-style: none;
    display: block;
    /* margin-block-start: 1em; */
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

._267 {
    border-bottom: thin solid #edeff1;
    position: relative;
    display: list-item;
    text-align: -webkit-match-parent;
    width: 310px;
}

._2AR {
    border-bottom: thin solid #edeff1;
    align-items: center;
    display: flex;
    height: 48px;
    justify-content: space-between;
    padding: 0 12px;
}

._2NS {
    align-items: center;
    display: flex;
}

.yPM {
    position: absolute;
    right: 12px;
    top: 13px;
}

._2iu {
    position: relative;
    background-color: #0079d3;
    border: none;
    color: #ffffff;
    fill: #ffffff;
    font-family: Noto Sans,Arial,sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: unset;
    line-height: 16px;
    text-transform: unset;
    min-height: 24px;
    min-width: 24px;
    padding: 4px 16px;
    align-items: center;
    border-radius: 9999px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    width: auto;
    cursor: pointer;
}

._2B- {
    color: #1c1c1c;
    text-align: right;
    width: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    cursor: pointer;
}

._34C {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 24px;
    box-sizing: border-box;
    flex: none;
    font-size: 32px;
    height: 32px;
    line-height: 32px;
    margin: 0 8px;
    width: 32px;
    vertical-align: middle;
}

.fa-angle-up {
    color: lime;
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    width: 20px;
    padding-left: 6px;
}
.lg-view-all {
    padding: 12px;
    margin-top: 245px;
}
.view-all {
    display: flex;

    align-items: center;
    border-radius: 999px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    font-family: Fira Sans, sans-serif;
    font-size: 14px;
    line-height: 17px;
    min-height: 32px;
    min-width: 32px;
    padding: 4px 16px;
    border: none;
    color: #ffffff;
    justify-content: center;
    width: 100%;
    background-color: #0079d3;
    position: relative;
}
