@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;1,200&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#nav-bar {
    display: flex;
    position: fixed;
    overflow: visible;
    position: fixed;
    padding: 0px;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 100;
    list-style-type: none;
    height: 48px;
    border-bottom: 1px solid lightgray;
}

#nav-bar li {
    display: flex;
    display: inline-block;
    padding: 0 8px;
}

.logo {
    height: 32px;
    margin: 8px 25px;
    width: 32px;
}

ul {
    margin-top: 17px;
}

.app-name-container * {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    margin-top: 5px;
}
.app-name-container a {
    font-size: 28px;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(255, 69, 0);
}

li {
    display: inline;
    float: right;
}
#nav-bar .session-links {
    justify-content: flex-end;
}
.session-links {
    display: inline-block;
    text-decoration: none;
    width: auto;
    margin-left: 68%;
}

.nav-signup {
    border: 1px solid black;
    background-color: #0079d3;
    color: white;
    width: 100%;
    position: relative;
    border: none;
    font-family: Fira Sans, sans-serif;
    font-size: 14px;
    font-weight: 700;
    align-items: center;
    border-radius: 9999px;
    box-sizing: border-box;
    letter-spacing: unset;
    line-height: 17px;
    text-transform: unset;
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 32px;
    min-width: 32px;
    padding: 4px 20px;
    margin-inline: 8px;
    cursor: pointer;
}

.nav-login {
    border: 1.5px solid #0079d3;
    background-color: #edeff1;
    color:#0079d3
}

.nav-login:hover {
    border-color: #66afe9;
    box-shadow: 0 0 8px #66afe9;
    cursor: pointer;
}

.nav-buttons {
    margin-top: -10px;
}

.nav-logout {
    background-color: #0079d3;
    color: white;
    width: 100%;
    position: relative;
    border: none;
    font-family: Fira Sans, sans-serif;
    font-size: 14px;
    font-weight: 700;
    align-items: center;
    border-radius: 9999px;
    box-sizing: border-box;
    letter-spacing: unset;
    line-height: 17px;
    text-transform: unset;
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 32px;
    min-width: 32px;
    padding: 4px 20px;
    margin-inline: 8px;
    cursor: pointer;
}

.logo-container * {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.fa-reddit-alien {
    font-size: 35px;
    margin-left: 20px;
    color: red;
    /* background-color: blue; */
    margin-right: 30px;
    margin-top: -1px;
}
/* .glow-container {
    height: 5px;
    width: 8px;
    background-color: #fff;
} */
